body {
  padding: 0%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-size-adjust: 100%;
  background-color: rgb(14, 17, 40);
  color: rgb(255, 255, 255);
}

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

.nav {
  /* background: #6db8bf; */
  background-color: rgb(14, 17, 40);
}

.nav-link {
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

.nav-link {
  margin-right: 1em !important;
}

.nav-link:hover {
  color: #fff;
  /* border: 1px solid red; */
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  border-radius: 12px;
}

.header {
  background-color: rgb(63, 61, 61);
  height: 95vh;
  display: block;
}

.blogHeader {
  background: #e90052;
  /* background: #0c1414; */
  color: #fff;
  overflow: hidden;
  margin-bottom: 2rem;
  font-size: 1.4rem;
  height: 100%;
}

.wrapper {
  max-width: 1376px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.wrapper .col-12 {
  padding: 60px;
}

.blogHeader .imgContainer {
  position: absolute;
  top: 0;
  right: 1rem;
  bottom: 0;
  width: 65%;
  /* background-image: url(./image/a.jpg); */
  background-position: center;
  background-size: cover;
}

.blogHeader .shardLeft {
  left: -1px;
  top: 0;
}

.blogHeader .shard {
  position: absolute;
  fill: #e90052;
  /* fill: #6db8bf; */
  height: 100%;
}

svg:not(:root) {
  width: auto;
  overflow: hidden;
}

:not(svg) {
  transform-origin: 0px 0px;
}

.blogHeader .summary {
  position: relative;
  z-index: 1;
}

[class*=col-12] {
  box-sizing: border-box;
  width: 100%;
  float: left;
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;
}

#landing {
  box-sizing: border-box;
  width: 95%;
  height: 10%;
  padding: 40px;
}

.mt-1 {
  font-size: 2rem;
  /* color: black; */
  letter-spacing: .3em;
}
@media (min-width: 500px){
  .mt-1{
    color: #000;
    font-weight: bolder;
  }
}


.glow-on-hover {
  /* width: 200px; */
  /* height: 50px; */
  /* border: none; */
  outline: none;
  color: #fff;
  /* background: #111; */
  background-color: white;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  width: 20%;
  opacity: 0.7;
  background-color: #6db8bf;
  width: fit-content;
  border-left: 2px solid black;
  border-right: 2px solid black;
}


.glow-on-hover:before {
  content: '';
  /* background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000); */
  background: linear-gradient(45deg, #fff, #ff7300, #fff, #fff, #00ffd5, #002bff, #fff, #fff, #fff);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

/* =======================================skills section================ */
.background {
  /* background: #dedec8; */
  /* background: red; */
  padding: 4em 0;
}

.team {
  color: #5e5e55;
  /* padding: 0 150px; */
}

.glow {
  /* font-size: 80px; */
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.team .card-columns {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 3;
}

.card-img-top {
  width: 150px;
  height: 150px;
  /* border: 1px solid; */
}

.team .card {
  background: none;
  /* background: #587477; */
  border: none;
}

.team .card-title {
  font-size: 1.3rem;
  margin-bottom: 0;
  text-transform: uppercase;
}

#cv {
  background-color: #e90052;
  color: #000;
}

.col-4 {
  background: url('./image/c.jpg');
  background-position: center;
  background-size: cover;
  color: white;
  /* height: 400px; */
}
blockquote{
  background-color: rgb(158, 152, 152);
}




#feature {
  color: red;
  background-image: url(./image/cv.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}


/* ==================================cv page========================= */
.containers {
  position: relative;
  width: 100%;
  border: 1px solid #000;
}

.containers img {
  width: 100%;
  height: 300px;
  opacity: 0.2;
}

.containers .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: red;
  color: white;
  /* font-weight: bold; */
  font-size: 20px;
  /* padding: 12px 24px; */
  /* padding: 10px 2px; */
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  width: fit-content;
}

.containers .btn:hover {
  background-color: black;
  color: #fff;
  text-align: center;
  animation: mymove 1s ease-in-out infinite alternate;
}

@keyframes mymove {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 40px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.glowOnhover {
  /* width: 200px; */
  /* height: 50px; */
  /* border: none; */
  outline: none;
  color: #fff;
  /* background: #111; */
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  width: 20%;
  opacity: 0.7;
  /* background-color: #6db8bf; */
}

.glowOnhover:before {
  content: '';
  /* background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000); */
  background: linear-gradient(45deg, #fff, #ff7300, #fff, #fff, #00ffd5, #002bff, #fff, #fff, #fff);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glowOnhover:active {
  color: #000;
}

.glowOnhover:active:after {
  background: transparent;
}

.glowOnhover:hover:before {
  opacity: 1;
}

.glowOnhover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: #111; */
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.btn {
  color: #fff;
  /* width: 20vh; */
  width: 20%;
  opacity: 0.7;
  box-sizing: border-box;
}

.btn:hover {
  font-weight: bolder;
}

/* ================================================ */
.content {
  color: #000;
}

/* =============================================== */


.background-img{
  background-image: url("./image/bg-registration-form-7.jpg");
  height: 500px;
  width: 95%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 2% auto;
  border: 1px solid #2a3cad;
  border-radius: 4px;
  box-shadow: 0px 0px 5px #2a3cad;
  position: relative;
}

.content h3{
  font-size: 2.0em;
  color: #fff;
  /* margin-top: 20px; */
}

.box{
  position: absolute;
  /* position: relative; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 300px; */
  height: 500px;
  width: 100%;
  background: #111845a6;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 20px 50px rgb(23, 32, 90);
  border: 2px solid #2a3cad;
  color: white;
  padding: 20px;
}

.box:before{
  content: '';
  position:absolute;
  top:0;
  left:-100%;
  width:100%;
  height:100%;
  background: rgba(255,255,255,0.1);
  transition:0.5s;
  pointer-events: none;
}

.box:hover:before{
  left:-50%;
  transform: skewX(-5deg);
}


.box .content{
  position:absolute;
  top:15px;
  left:15px;
  right:15px;
  bottom:15px;
  /* border:1px solid #f0a591; */
  padding:20px;
  text-align:center;
  box-shadow: 0 5px 10px rgba(9,0,0,0.5);
  
}

.box span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  
}

.box span:nth-child(1)
{
  transform:rotate(0deg);
}

.box span:nth-child(2)
{
  transform:rotate(90deg);
}

.box span:nth-child(3)
{
  transform:rotate(180deg);
}

.box span:nth-child(4)
{
  transform:rotate(270deg);
}

.box span:before
{
  content: '';
  position: absolute;
  width:100%;
  height: 2px;
  background: #50dfdb;
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
  transform:scaleX(0);
  transform-origin: left;
  }
  50%
  {
    transform:scaleX(1);
  transform-origin: left;
  }
  50.1%
  {
    transform:scaleX(1);
  transform-origin: right;
    
  }
  
  100%
  {
    transform:scaleX(0);
  transform-origin: right;
    
  }
  
  
} 

/* ===============================form======== */

form {
  display: block;
  margin-top: 0em;
  margin-right: 20px;
}

.form-group {
  /* position: absolute; */
  display: block;
  margin-bottom: 1.5rem;
}
.form-control {
  border: none;
  border-bottom: 2px solid #00ade6;
  border-radius: 0px;
  display: block;
  width: 100%;
  height: 43px;
  font-size: 15px;
  background: 0 0;
  font-family: montserrat-semibold;
}
input[type="text" i] {
  padding: 1px 2px;
  color: #fff;
}
textarea{
  font-size: 15px;
  width: 100%;
  border: none;
  height: 100px;
  background: 0 0;
  border-bottom: 2px solid #00ade6; 
}
.message button{
  width: 150px;
  height: 40px;
  margin: auto;
  align-items: center;
  justify-content: center;
  background: 0 0;
  cursor: pointer;
  font-size: 15px;
  color: #fff;
  font-family: montserrat-semibold;
  border: 2px solid #fff;
  transition-property:width;
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: 0.2s;
  text-transform: uppercase;
}
.message button:hover {
  width: 200px;
  border-color: transparent;
  background-color: #2098d1;
}


.info{
  color: white;
}
.info a{
  text-decoration: none;
  letter-spacing: .1em;
  color: pink
}
.info a:hover{
  color: white;
  letter-spacing: .1em;
}

/* ==============================footer======= */
footer{
  display: block;
}
#footer {
  background-color: rgb(14, 17, 40);
  padding: 5em 0;
  text-align: center;
  border-top: 2px solid #e90052;
}
ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
}
ul {
  list-style: none;
  margin: 0 0 2em 0;
  padding-left: 1em;
}
ul.icons li {
  display: inline-block;
  padding: 0 0.5em;
}
ul.icons li img{
  width: 1.6em;
}
#footer .copyright {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1em;
  line-height: 1em;
  margin: 2em 0 0 0;
  padding: 0;
  text-align: center;
}
#footer .copyright li:first-child {
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
}
#footer .copyright li {
  border-left: solid 1px rgba(255, 255, 255, 0.3);
  display: inline-block;
  list-style: none;
  margin-left: 1.5em;
  padding-left: 1.5em;
}
.copyright a {
  border-bottom: dotted 1px;
  color: #e44c65;
  text-decoration: none;
}


/* phone */
/* <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                height="16" fill="currentColor" class="bi bi-telephone"
                                           viewBox="0 0 16 16">
                                                <path
                                                    d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                                            </svg></i> */

/* telegram */
/* <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telegram" viewBox="0 0 16 16">
  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z"/>
</svg> */

/* location */
/* <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
  <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
</svg> */

/* github */
/* <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
  <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
</svg> */

/* twitter
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
  <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
</svg> */

/* pc */
/* <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-laptop" viewBox="0 0 16 16">
<path d="M13.5 3a.5.5 0 0 1 .5.5V11H2V3.5a.5.5 0 0 1 .5-.5h11zm-11-1A1.5 1.5 0 0 0 1 3.5V12h14V3.5A1.5 1.5 0 0 0 13.5 2h-11zM0 12.5h16a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 12.5z"/>
</svg> */

/* linkedin */
/* <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
  <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
</svg> */











/* 
.tcb-quote-carousel {
    background: #17171c;
    padding-top: 30px;
    margin-top: 40px;
    .quote {
      color: rgba(0, 0, 0, .1);
      text-align: center;
      margin-bottom: 30px;
    }
    .carousel {
      padding-bottom: 30px;
      .carousel-indicators > li {
        background-color: #141e2e;
        border: none;
      }
    }
    blockquote {
      margin-top: 5px;
      text-align: center;
      border: none;
      color: grey;
      font-size: 10px;
    }
    .profile-circle {
      width: 50px;
      height: 50px;
      margin: 0 auto;
      overflow: hidden;
      border-radius: 100px;
    }
  }
  
  .carousel-fade {
    .carousel-inner {
      .item {
        transition-property: opacity;
      }
      .item,
      .active.left,
      .active.right {
        opacity: 0;
      }
      .active,
      .next.left,
      .prev.right {
        opacity: 1;
      }
      .next,
      .prev,
      .active.left,
      .active.right {
        left: 0;
        transform: translate3d(0, 0, 0);
      }
    }
  }

*/